@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-parts {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }

  .title, ul.suggestions, span.text {
    display: none !important;
  }

  .flex-grid-parts .col.side {
    width: 50px !important;
  }
  .flex-grid-parts .col {
    width: 90% !important;
  }
}

body {
  padding: 20px;
}
.flex-grid { 
  margin: 0 0 20px 0;
  flex: none;
}
.col {
  padding: 20px;
}
.langpick {
  text-align: right;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}

.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.inner {
  flex: 1;
  overflow: auto; 
  display: flex;
}

.flex-grid-parts { 
  flex: 1;
  justify-content: space-between;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */

}
.flex-grid-parts .col.side {
  width: 450px;
}
.flex-grid-parts .col {
  width: 75%;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #5f6368;
  font-weight: 600;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.title {
  vertical-align: top;
  margin-left: 10px;
  margin-top: 8px;
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.footer {
  font-size: 80%;
  color: #333;
  margin: 0;
}

.link {
  text-align: right;
}