.flexcontainer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 20px;

    .box {
      align-self: stretch;
      flex: 50%;
    }
    .mic {
        width: 500px;
        align-self: stretch;
    }

}

.wrapper {
    margin-top: 20px;
    position: relative;
}
.utterance {
    position: absolute;
    top: 70px;
    color: #fff;
    width: 450px;
    text-align: center;
    left: 0;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.card.highlight-card {
    background-color: #ef6c00;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px;
    text-decoration: none;
  }
.card.highlight-card svg {
    fill: white;
    position: relative;
    top: 5px;
}
.card.card.highlight-card span {
    margin-left: 10px;
}

.card.highlight-card:hover {
    text-decoration: none;
    background-color: #d26105;
}

hr {
    margin: 0 100px;
}